<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia magni
    architecto aliquam perspiciatis, necessitatibus dolor.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>

      <div class="media__body">
        <h3 class="media__title quote__author">Captain Scurvy</h3>
        <p class="quote__organization">Swashbucklers United</p>
      </div>
    </div>
  </footer>
</blockquote>
